@model IEnumerable<library.Models.Shelf>

@{
    ViewData["Title"] = "CreteBoox";
}

<h1>CreteBoox</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.ArkId12)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.ArkId12)
            </td> *@
            <td>
                    @Html.ActionLink("הוסף ספר", "BookOnShelf", new { id = item.Id }) |
@*                 @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
